<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Application for E-Seva pass</title>
</head>
<body>
<h1> APPLICATION FOR e-SEVA PASS</h1>
<form action='/login_page2' method="POST">
    <label>NAME:</label>
    <input type="text" name="nameid" ><br>
    <br>
    <label>MAIL ID:</label>
    <input type="text" name="mailid"><br>
    <br>
    <label>CITY:</label>
    <input type="text" name="cityid"><br>
    <br>
    <label>STATE:</label>
    <input type="text" name="stateid"><br>
    <br>
    <label>DESTINATION:</label>
    <input type="text" name="destid"><br>
    <br>
    <label>DESTINATION STATE:</label>
    <input type="text" name="deststateid"><br>
    <br>
    <label>CONTACT:</label>
    <input type="number" name="contactid"><br>
    <br>
    <label>AADHAR DETAILS:</label>
    <input type="number" name="aadharid"><br>
    <br>
    <label>DATE OF TRAVEL:</label>
    <input type="date" name="dateid" ><br>
    <br>
    <button>SUBMIT</button>
</form>
</body>
</html>