<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>USER REGISTRATION DETAILS</title>
</head>
<body>
    <h1>e-TICKET STATUS</h1>
    <h2>NAME: {{var1}}</h2>
    <h2>MAIL ID: {{var2}}</h2>
    <h2>CITY: {{var3}}</h2>
    <h2>STATE: {{var9}}</h2>
    <h2>DESTINATION: {{var4}}</h2>
    <h2>DESTINATION STATE: {{var10}}</h2>
    <h2>CONTACT: {{var5}}</h2>
    <h2>AADHAR DETAILS: {{var6}}</h2>
    <h2>DATE OF TRAVEL: {{var7}}</h2>
    <br>
    <h1>STATUS: {{var8}}</h1>

</body>
</html>